{% extends 'base_admin.html' %}

{% block content-header %}

        <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
              </div>
              <div class="modal-body">
                <p>确定删除用户吗?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <a class="btn btn-danger btn-ok">删除</a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


      <h1>
        用户列表
        <small></small>
      </h1>
      <ol class="breadcrumb">
          <li><a href="{% url 'admin:homepage' %}"><i class="fa fa-home"></i>首页</a></li>
        <li class="active">用户列表</li>
      </ol>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">列表</h3>
              <div class="box-tools">
                  <form action="">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="text" name="q" class="form-control pull-right" placeholder="搜索" value="{% if q %}{{ q }}{% endif %}">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                  </form>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>#</th>
                  <th>用户名</th>
                  <th>邮箱</th>
                  <th>姓名</th>
                  <th>管理员</th>
                  <th>激活</th>
                  <th>账号类型</th>
                  <th>操作</th>
                </tr>
                {% for user in all_users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>
                        {% if user.is_superuser %}
                            <span class="label label-success">是</span>
                        {% else %}
                            <span class="label label-default">否</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_active %}
                            <span class="label label-success">是</span>
                        {% else %}
                            <span class="label label-danger">否</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ user.user_type }}
                    <td>
                        <a title="编辑" data-toggle="tooltip" href="{% url 'admin:accounts.user_edit' user.id %}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></button></a>
                        <button title="删除" data-href="{% url 'admin:accounts.user_del' user.id %}" data-id="{{ user.id }}" type="button" class="btn btn-danger btn-sm btnDelete" data-toggle="modal" data-target="#modal-default"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                {% if all_users_p.has_previous %}
                                <li class="page-item">
                                <li class="paginate_button previous">
                                    <a class="page-link" href="?page={{ all_users_p.previous_page_number }}&{{ parameters }}" tabindex="-1">上一页</a>
                                </li>
                                {% else %}
                                <li class="paginate_button previous disabled">
                                  <a class="page-link" href="#" tabindex="-1">上一页</a>
                                </li>
                                {% endif %}

                                {% if all_users_p.number|add:'-4' > 1 %}
                                    <li class="paginate_button">
                                        <a href="?page={{ all_users_p.number|add:'-5' }}">&hellip;</a>
                                    </li>
                                {% endif %}

                                {% for i in all_users_p.paginator.page_range %}
                                    {% if all_users_p.number == i %}
                                        <li class="paginate_button active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% elif i > all_users_p.number|add:'-5' and i < all_users_p.number|add:'5' %}
                                        <li class="paginate_button"><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if all_users_p.paginator.num_pages > all_users_p.number|add:'4' %}
                                    <li class="paginate_button"><a href="?page={{ all_users_p.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}

                                {% if all_users_p.has_next %}
                                <li class="paginate_button next">
                                    <a class="page-link" href="?page={{ all_users_p.next_page_number }}&{{ parameters }}">下一页</a>
                                </li>
                                {% else %}
                                <li class="paginate_button next disabled">
                                    <a class="page-link" href="#">下一页</a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>

          <!-- /.box -->
        </div>
      </div>
{% endblock %}

{% block script %}
    <script>
        $('#modal-default').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>

{% endblock %}
