{% extends 'base_admin.html' %}

{% block content-header %}
      <h1>
        设置
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'admin:homepage' %}"><i class="fa fa-home"></i>首页</a></li>
        <li class="active">设置 - 通用</li>
      </ol>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">通用</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="box-body">

                    <div class="form-group {% if form.site_url.errors %} has-error {% endif %}">
                        <label for="site_url">{{ form.site_url.label }}</label>
                        <input type="text" name="site_url" class="form-control" placeholder="{{ form.site_url.help_text }}" value="{% if general_info.site_url %}{{ general_info.site_url }}{% else %}{% if form.site_url.value %}{{ form.site_url.value }}{% endif %}{% endif %}" >
                        <span class="help-block">{{ form.site_url.errors }}</span>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="{{ form.enable_register.name }}" {% if general_info.enable_register%}  checked {% else %}{% if form.enable_register.value %}checked{% endif %}{% endif %}> {{ form.enable_register.label }}
                        </label>
                    </div>


              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </form>
          </div>
        </div>
</div>
{% endblock %}
