{% extends 'base_admin.html' %}

{% block content-header %}
      <h1>
        设置
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'admin:homepage' %}"><i class="fa fa-home"></i>首页</a></li>
        <li class="active">设置 - LDAP</li>
      </ol>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">LDAP</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="box-body">

                    <div class="form-group {% if form.host.errors %} has-error {% endif %}">
                        <label for="host">{{ form.host.label }}</label>
                        <input type="text" name="host" class="form-control" placeholder="{{ form.host.help_text }}" value="{% if ldap_info.host %}{{ ldap_info.host }}{% else %}{% if form.host.value %}{{ form.host.value }}{% endif %}{% endif %}" >
                        <span class="help-block">{{ form.host.errors }}</span>
                    </div>

                    <div class="form-group {% if form.port.errors %} has-error {% endif %}">
                        <label for="port">{{ form.port.label }}</label>
                        <input type="text" name="port" class="form-control" placeholder="{{ form.port.help_text }}" value="{% if ldap_info.port %}{{ ldap_info.port }}{% else %}{% if form.port.value %}{{ form.port.value }}{% endif %}{% endif %}" >
                        <span class="help-block">{{ form.port.errors }}</span>
                    </div>

                    <div class="form-group {% if form.uid.errors %} has-error {% endif %}">
                        <label for="uid">{{ form.uid.label }}</label>
                        <input type="text" name="uid" class="form-control" placeholder="{{ form.uid.help_text }}" value="{% if ldap_info.uid %}{{ ldap_info.uid }}{% else %}{% if form.uid.value %}{{ form.uid.value }}{% endif %}{% endif %}" >
                        <span class="help-block">{{ form.uid.errors }}</span>
                    </div>

                    <div class="form-group {% if form.base.errors %} has-error {% endif %}">
                        <label for="base">{{ form.base.label }}</label>
                        <input type="text" name="base" class="form-control" placeholder="{{ form.base.help_text }}" value="{% if ldap_info.base %}{{ ldap_info.base }}{% else %}{% if form.base.value %}{{ form.base.value }}{% endif %}{% endif %}" >
                        <span class="help-block">{{ form.base.errors }}</span>
                    </div>

                    <div class="form-group {% if form.bind_dn.errors %} has-error {% endif %}">
                        <label for="bind_dn">{{ form.bind_dn.label }}</label>
                        <input type="text" name="bind_dn" class="form-control" placeholder="{{ form.bind_dn.help_text }}" value="{% if ldap_info.bind_dn %}{{ ldap_info.bind_dn }}{% else %}{% if form.bind_dn.value %}{{ form.bind_dn.value }}{% endif %}{% endif %}" >
                        <span class="help-block">{{ form.bind_dn.errors }}</span>
                    </div>

                    <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                        <label for="password">{{ form.password.label }}</label>
                        <input type="text" name="password" class="form-control" placeholder="{{ form.password.help_text }}" value="{% if ldap_info.password %}{{ ldap_info.password }}{% else %}{% if form.password.value %}{{ form.password.value }}{% endif %}{% endif %}">
                        <span class="help-block">{{ form.password.errors }}</span>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="{{ form.enable.name }}" value="1" {% if ldap_info.enable%} checked {% else %} {% if form.enable.value %}checked{% endif %}{% endif %}> {{ form.enable.label }} 
                        </label>
                        <span class="help-block"></span>
                    </div>


              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">保存</button>
                <button id="checkValidBtn" type="button" class="btn btn-default">检测账号可用性</button>
              </div>
            </form>
          </div>
        </div>
</div>
{% endblock %}

{% block script %}
    <script>
        function check_valid() {
            url = "/admin/setting/check_ldap_account_valid"
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                beforeSend: function() {
                }
            }).done(function(data) {
                alert(data.msg);
            }).fail(function(data,textStatus, xhr) {
                alert("检测失败！");
            });
        }
        $("#checkValidBtn").click(function() {
            check_valid();
        })
    </script>
{% endblock %}
