[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.17"
#mysql-connector-python = "*"
mysqlclient = "*"
environ = "*"
gunicorn = "*"
requests = "*"
celery = "==4.2.1"
django-celery-results = "*"
gitpython = "==2.1.11"
svn = "*"
tencentcloud-sdk-python = "*"
aliyun-python-sdk-core-v3 = "==2.11.1"
sphinx = "*"
mkdocs = "*"
python-ldap = "*"

[dev-packages]

[requires]
python_version = "3.7"
