{% extends 'accounts/base.html' %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Opendeploy</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">登录</p>

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">
      <div class="form-group has-feedback  {% if form.username.errors %} has-error {% endif %}">
        <input type="text" class="form-control" placeholder="{{ form.username.help_text }}" name="{{ form.username.name }}" value="{% if form.username.value %} {{ form.username.value }} {% endif %}">
        <span class="fa fa-user form-control-feedback"></span>
        <span class="help-block">{{ form.username.errors }}</span>
      </div>

      <div class="form-group has-feedback  {% if form.password.errors %} has-error {% endif %}">
        <input type="password" class="form-control" placeholder="{{ form.password.help_text }}" name="{{ form.password.name }}">
        <span class="fa fa-key form-control-feedback"></span>
        <span class="help-block">{{ form.password.errors }}</span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="#" class="hide">忘记密码</a><br>
    {% if is_enable_register %}
    <a href="{% url 'accounts:register' %}" class="text-center">注册</a>
    {% endif %}

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}

{% block script %}
<script>
  $(function () {
    $('body').addClass('login-page')

    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
    });
  });
</script>
{% endblock %}
