{% extends 'base_front.html' %}

{% block content-header %}
<h1>
    发布
    <small></small>
</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i>首页</a></li>
    <li class="active">发布</li>
</ol>
{% endblock %}

{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">表单信息</h3>
    </div>
    <form role="form" id="form" method="post" action="{% url 'deploy:release' %}">
                {% csrf_token %}
              <div class="box-body">
                <div class="form-group{% if form.project.errors %} has-error {% endif %}">
                    <label>选择项目</label>
                    <select name="project" id="project" class="form-control select2" style="width: 100%;">
                        <option value="">请选择项目</>
                        {% for project in projects %}
                        <option value="{{ project.id }}" {% if form.project.value == project.id|stringformat:"i" %} selected {% endif %}>{{ project }} - {{ project.repository_url }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">{% if form.project.errors %}{{ form.project.errors }}{% endif %}</span>
                </div>

                <div class="form-group{% if form.env.errors %} has-error {% endif %}">
                    <label>选择环境</label>
                    <div class="radio">
                        {% for env in envs %}
                        <label style="margin-right: 20px;">
                            <input type="radio" name="env" value="{{ env.id }}" {% if form.env.value %}{% if form.env.value == env.id|stringformat:"i" %} checked {% endif %}{% else %}{% if forloop.first %} checked {% endif %}{% endif %}>{{ env }}
                        </label>
                        {% endfor %}
                    </div>
                    <span class="help-block">{% if form.env.errors %}{{ form.env.errors }}{% endif %}</span>
                </div>
                
                <div class="checkbox">
                  <label>
                      <input type="checkbox" value="1" name="scope"{% if form.scope.value %} checked {% endif %}> 启用按文件发布
                  </label>
                </div>

            <div id="filelist-block" class="collapse" >
                <div class="form-group{% if form.files_list.errors %} has-error {% endif %}">
                  <label>文件路径列表</label>
                  <textarea class="form-control" name="files_list" rows="8" placeholder="一行一个, 文件路径相对于仓库根路径"></textarea>
                  <span class="help-block">{% if form.files_list.errors %}{{ form.files_list.errors }}{% endif %}</span>
                </div>
            </div>

                <div class="form-group{% if form.comment.errors %} has-error {% endif %}">
                  <label>发布说明</label>
                  <textarea class="form-control" name="comment" id="comment" rows="3" placeholder="说明发布原因">{% if form.comment.value %} {{ form.comment.value }} {% endif %}</textarea>
                  <span class="help-block">{% if form.comment.errors %}{{ form.comment.errors }}{% endif %}</span>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="button" id="submit-btn" class="btn btn-primary">发布</button>
              </div>
            </form>
</div>
<!-- /.box -->
{% endblock %}

{% block script %}
<script>
    function initFileList() {
        var isFile = $("input[name=scope]:checked").val();
        if(isFile == '1') {
            $("#filelist-block").collapse('show');
        } else {
            $("#filelist-block").collapse('hide');
        }
    }

    $(function () {
        $('.select2').select2()
        initFileList();
    })

    $("input[name=scope]").change(function() {
        initFileList();
    })

$("#submit-btn").click(function() {
    var pid = $("#project").val();
    if(! pid) {
        alert('请选择项目！');
        return false;
    }

    var env = $("input[name=env]:checked").val();
    if(!env) {
        alert('请选择环境！');
        return false;
    }

    if(!$('#comment').val()) {
        alert('发布说明不能为空！');
        return false;
    }
    $('#form').submit();
})

</script>
{% endblock %}
