{% extends 'base_admin.html' %}

{% block content-header %}
      <h1>
       编辑主机组
       <small>{{ hostgroup }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-home"></i>首页</a></li>
        <li><a href="/admin/cmdb/hostgroup">主机组</a></li>
        <li class="active">编辑 {{ hostgroup }}</li>
      </ol>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">设置表单</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                        <label for="name">名称</label>
                        <input type="text" name="name" class="form-control" placeholder="" value="{% if form.name.value %}{{ form.name.value }}{% else %}{{ hostgroup.name }}{% endif %}" >
                        <span class="help-block">{{ form.name.errors }}</span>
                    </div>

                    <div class="form-group {% if form.host.errors %} has-error {% endif %}">
                        <label for="host">主机列表</label>
                        <select class="form-control select2" multiple="multiple" data-placeholder="搜索IP或主机名" style="width: 100%;" name="hosts">
                            {% for host in hosts %}
                            <option value="{{ host.id }}"
                                {% if hostgroup.host.all %}
                                    {% for host_rela in hostgroup.host.all %}
                                    {% if host_rela.id == host.id %}
                                    selected
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                                    
                                    >{{ host.ipaddr }}{% if host.hostname %}({{ host.hostname }}){% endif %}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ form.host.errors }}</span>
                    </div>

                    <div class="form-group {% if form.comment.errors %} has-error {% endif %}">
                        <label for="comment">备注</label>
                        <input type="text" name="comment" class="form-control" placeholder="" value="{% if form.comment.value %}{{ form.comment.value }}{% else %}{{ hostgroup.comment }}{% endif %}">
                        <span class="help-block">{{ form.comment.errors }}</span>
                    </div>

                    <div class="form-group {% if form.status.errors %} has-error {% endif %}">
                        <label for="status">状态</label>
                        <select class="form-control" name="status">
                            {% for item in status_choices %}
                            <option value="{{ item.0 }}" {% if item.0 == hostgroup.status %} selected {% endif %}>{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ form.status.errors }}</span>
                    </div>


              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">提交</button>
              </div>
            </form>
          </div>
        </div>
</div>


{% endblock %}

{% block script %}
<script>
    $(function () {
        $('.select2').select2()
    });
</script>
{% endblock %}
