{% extends 'base_admin.html' %}

{% block content-header %}
      <h1>
        从公有云导入
        <small></small>
      </h1>
      <ol class="breadcrumb">
          <li><a href="{% url 'admin:homepage' %}/admin"><i class="fa fa-home"></i>首页</a></li>
          <li><a href="{% url 'admin:cmdb.host' %}">主机列表</a></li>
        <li class="active">从公有云导入</li>
      </ol>
{% endblock %}

{% block content %}
<div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
    <h4><i class="icon fa fa-info"></i> 提示!</h4>
    该功能需要在设置页面填写公有云接口认证信息.
</div>

<div class="row">
        <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="box-body">

                    <div class="form-group {% if form.provider.errors %} has-error {% endif %}">
                        <label for="provider">服务商</label>
                        <select class="form-control" name="provider" id="provider">
                            {% for item in public_cloud_choices %}
                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ form.provider.errors }}</span>
                    </div>

                    <div class="form-group">
                        <label for="region">选择区域</label>
                        <select class="form-control" name="region" id="region">
                        </select>
                        <span class="help-block"></span>
                    </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="button" id="importBtn" class="btn btn-primary">导入</button>
                <div class="hide" id="import_res">
                    成功导入<span id="import_count"></span>条记录. 
                    <ul id="import_list"></ul>
                </div>
              </div>
            </form>
          </div>
        </div>
</div>
{% endblock %}

{% block script %}
    <script>
        function get_region_list() {
            var provider = $("#provider").val();
            url = "/admin/cmdb/get_region_list?provider=" + provider
            var $select = $('#region'); 
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                beforeSend: function() {
                    $select.find('option').remove(); 
                }
            }).done(function(data) {
                $.each(data, function(key, value) {
                    $select.append('<option value="' + value.id + '">' + value.name + '</option>');
                })
            }).fail(function(data,textStatus, xhr) {
                alert("获取地区信息出错！");
            });
        }
        function import_from_public_cloud() {
            var provider = $("#provider").val();
            var region = $("#region").val();
            url = "/admin/cmdb/import_from_public_cloud_as_api?provider=" + provider + '&region=' + region
            var $select = $("#import_list"); 
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                beforeSend: function() {
                    $("#importBtn").text('导入中,请稍候...')
                    $select.find('li').remove(); 
                }
            }).done(function(data) {
                $("#import_res").removeClass('hide')
                $("#import_count").text(data.count)
                $.each(data.vps_list, function(key, value) {
                    $select.append('<li>' + value + '</li>');
                })
                $("#importBtn").text('导入')
            }).fail(function(data,textStatus, xhr) {
                $("#importBtn").text('导入')
                alert("导入出错！");
            });
        }
        $(function () {
            get_region_list();
        })

        $("#provider").change(function() {
            get_region_list();
        })
        $("#importBtn").click(function() {
            import_from_public_cloud();
        })
    </script>
{% endblock %}
