{% extends 'base_admin.html' %}

{% block content-header %}
      <h1>
        添加主机
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-home"></i>首页</a></li>
        <li><a href="/admin/cmdb/host">主机</a></li>
        <li class="active">添加</li>
      </ol>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">设置表单</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group {% if form.provider.errors %} has-error {% endif %}">
                        <label for="provider">服务商</label>
                        <select class="form-control" name="provider">
                            {% for item in provider_choices %}
                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ form.provider.errors }}</span>
                    </div>

                    <div class="form-group {% if form.ipaddr.errors %} has-error {% endif %}">
                        <label for="ipaddr">IP地址</label>
                        <input type="text" name="ipaddr" class="form-control" placeholder="" value="{% if form.ipaddr.value %}{{ form.ipaddr.value }}{% endif %}" >
                        <span class="help-block">{{ form.ipaddr.errors }}</span>
                    </div>

                    <div class="form-group {% if form.hostname.errors %} has-error {% endif %}">
                        <label for="hostname">主机名</label>
                        <input type="text" name="hostname" class="form-control" placeholder="" value="{% if form.hostname.value %}{{ form.hostname.value }}{% endif %}">
                        <span class="help-block">{{ form.hostname.errors }}</span>
                    </div>

                    <div class="form-group {% if form.root_password.errors %} has-error {% endif %}">
                        <label for="root_password">root密码</label>
                        <input type="text" name="root_password" class="form-control" placeholder="用于发布机与其它机器进行Key认证, 不填写需要手动认证" value="{% if form.root_password.value %}{{ form.root_password.value }}{% endif %}">
                        <span class="help-block">{{ form.root_password.errors }}</span>
                    </div>

                    <div class="form-group {% if form.comment.errors %} has-error {% endif %}">
                        <label for="comment">备注</label>
                        <input type="text" name="comment" class="form-control" placeholder="" value="{% if form.comment.value %}{{ form.comment.value }}{% endif %}">
                        <span class="help-block">{{ form.comment.errors }}</span>
                    </div>

                    <div class="form-group {% if form.status.errors %} has-error {% endif %}">
                        <label for="status">状态</label>
                        <select class="form-control" name="status">
                            {% for item in status_choices %}
                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ form.status.errors }}</span>
                    </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">提交</button>
              </div>
            </form>
          </div>
        </div>
</div>
{% endblock %}
