<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Opendeploy</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static "css/common.css" %}">

  <!--[if lt IE 9]>
  <script src="{% static "js/ie.js" %}"></script>
  <![endif]-->

</head>
<body class="hold-transition">
    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

</body>

<script src="{% static "js/common.js" %}"></script>
{% block script %}
{% endblock %}
<script>
</script>
</html>
