{% extends 'base_front.html' %}

{% block content-header %}
<h1>
    修改密码
    <small></small>
</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i>首页</a></li>
    <li class="active">修改密码</li>
</ol>
{% endblock %}

{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">表单信息</h3>
    </div>

    <form action="{% url 'accounts:change_password' %}" method="post">
        {% csrf_token %}
          <div class="box-body">

                <div class="form-group {% if form.old_password.errors %} has-error {% endif %}">
                    <input type="password" name="old_password" class="form-control" placeholder="{{ form.old_password.help_text }}" >
                    <span class="help-block">{{ form.old_password.errors }}</span>
                </div>

                <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
                    <input type="password" name="new_password1" class="form-control" placeholder="{{ form.new_password1.help_text }}" >
                    <span class="help-block">{{ form.new_password1.errors }}</span>
                </div>

                <div class="form-group {% if form.new_password2.errors %} has-error {% endif %}">
                    <input type="password" name="new_password2" class="form-control" placeholder="{{ form.new_password2.help_text }}" >
                    <span class="help-block">{{ form.new_password2.errors }}</span>
                </div>

          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" {% if can_edit == False %} disabled {% endif %} class="btn btn-primary">确认</button>
          </div>
    </form>
</div>
<!-- /.box -->
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
