{% extends 'base_admin.html' %}

{% block content-header %}
      <h1>
        账号凭证
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-home"></i>首页</a></li>
        <li><a href="/admin/deploy/credential">账号凭证</a></li>
        <li class="active">添加</li>
      </ol>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">设置表单</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="box-body">

                    <div class="form-group {% if form.type.errors %} has-error {% endif %}">
                        <label for="type">凭证类型</label>
                        <select class="form-control" name="type" id="type">
                            {% for item in type_choices %}
                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ form.type.errors }}</span>
                    </div>

                    <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                        <label for="username">用户名</label>
                        <input type="text" name="username" class="form-control" placeholder="" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" >
                        <span class="help-block">{{ form.username.errors }}</span>
                    </div>

                    <div id="password" class="form-group {% if form.password.errors %} has-error {% endif %}">
                        <label for="password">密码</label>
                        <input type="text" name="password" class="form-control" placeholder="" value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
                        <span class="help-block">{{ form.password.errors }}</span>
                    </div>

                    <div id="private_key" class="form-group {% if form.private_key.errors %} has-error {% endif %}">
                        <label for="private_key">私钥</label>
                        <textarea class="form-control {% if form.private_key.errors %} is-invalid {% endif %}" rows="8" name="private_key" placeholder="注意，是私钥内容(通常没有扩展名，公钥的扩展名是.pub)。不是公钥!!!">{% if form.private_key.value %}{{ form.private_key.value }}{% endif %}</textarea>
                        <span class="help-block">{{ form.private_key.errors }}</span>
                    </div>

                    <div class="form-group {% if form.comment.errors %} has-error {% endif %}">
                        <label for="comment">备注</label>
                        <input type="text" name="comment" class="form-control" placeholder="" value="{% if form.comment.value %}{{ form.comment.value }}{% endif %}">
                        <span class="help-block">{{ form.comment.errors }}</span>
                    </div>


              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">提交</button>
              </div>
            </form>
          </div>
        </div>
</div>
{% endblock %}

{% block script %}
    <script>
        function switch_auth_block() {
            var auth_type = $("#type").val();
            console.log(auth_type)
            if(auth_type == {{ type_user_pwd }}) {
                $("#password").show()
                $("#private_key").hide()
            } else {
                $("#password").hide()
                $("#private_key").show()
            }
        }
        $(function () {
            switch_auth_block();
        })
        $("#type").change(function() {
            switch_auth_block();
        })
    </script>
{% endblock %}
